@model IEnumerable<TodoList.Models.TodoItem>

@{
    ViewData["Title"] = "To-do List";
}

<p>
    <button class="btn btn-success">
        <a asp-action="Create" class="text-light text-decoration-none">Ajouter nouveau tâche</a>
    </button>
</p>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    Status
                </th>
                <th>
                    @if(TodoItem.tri)
                    {
                        <a asp-action = "Tri" class="text-decoration-none">Triage : Descendant</a>
                    }
                    else
                    {
                        <a asp-action = "Tri" class="text-decoration-none">Triage : Ascendant</a>
                    }
                </th>
            </tr>
        </thead>
        <tbody>
    <div class="accordion" id="identification"></div>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(item.Id)" aria-expanded="false" aria-controls="collapse@(item.Id)">
                                @item.Title
                            </button>
                        </h2>
                        <div id="collapse@(item.Id)" class="accordion-collapse collapse" data-bs-parent="#identification">
                            <div class="accordion-body">@item.Description</div>
                        </div>
                    </div>
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDone)
                </td>
                <td>
                    <button class="btn btn-secondary">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="text-light text-decoration-none">Modifier</a>
                    </button> 
                    <button class="btn btn-danger">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="text-light text-decoration-none">Supprimer</a>
                    </button>
                </td>
            </tr>
        }
    </div>
        </tbody>
    </table>
</div>
